/*
.Centered_Images img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
*/

/*
.Centered_Images img {
    margin: 1rem auto;
}
*/

/*
.Centered_Images {
    img {
      display: block;
      margin: 1rem auto;
    }
  }
*/

.Centered_Images img {
    display: block;
    margin: 1rem auto;
  }
